@font-face {
    font-family: 'Raleway-Regular';
    src: url('./fonts/static/Raleway-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('./fonts/static/Raleway-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('./fonts/static/Raleway-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('./fonts/static/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('./fonts/static/Raleway-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('./fonts/static/Raleway-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

$powder-blue: #c8dfdc;
$bone: #dfdcce;
$beaver: #ad8c72;
$deep-space: #406261;
$dark-slate: #325046;
$black-choco: #211d16;

h1, h2, h3 {
    font-family: Raleway-Bold;
}

h4, h5, h6, p {
    font-family: Raleway-Medium;
}

button, .btn {
    font-family: Raleway-Medium;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px 50px;
}

a {
    text-decoration: none;
    font-family: Raleway-Medium;

    &:hover {
        text-decoration: none;
    }
}

body {
    margin: 0;
    background-color: white;
    position: static;

    .italic-heading {
        font-family: Raleway-Italic;
    }

    div:not(.carousel) {
        overflow: unset !important;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #e8e8e8;
        border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #d4d4d4;
    }
}

.nav-bar {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    transition: background-color 0.5s ease;

    &.changing-nav {
        background-color: transparent;
    }

    &.solid-nav {
        background-color: #355554;
    }

    .right-nav {
        display: flex;
        align-items: center;

        .nav-link {
            padding: 0 50px;

            &.nav-btn {
                padding: 4px 30px;
                margin-right: 10px;
                border: thin solid white;
                border-radius: 25px;

                &:hover {
                    background-color: white;
                    color: $black-choco;
                }
            }

            &.inactive {
                color: #878787;
                pointer-events: none;
                cursor: default;
            }
        }
    }

    .nav-link {
        color: white;
        font-size: 14px;
    }

    .nav-img {
        width: 55px;
        padding-right: 10px;
    }
}

.footer {
    background-color: $deep-space;
    border: thin solid $deep-space;
    border-top-left-radius: 100% 50px;
    border-top-right-radius: 100% 50px;
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;

    .footer-info {
        position: relative;
        width: 100%;
        z-index: 10;
        color: white;
        padding: 0 7%;

        .footer-info-left {
            .contact-us-info {
                width: 85%;
                font-size: 0.7rem;
            }

            .contact-form {
                display: flex;
                font-size: 0.8rem;

                .email-input {
                    background-color: transparent;
                    border: 2px solid $powder-blue;
                    border-radius: 5px;
                    color: white;
                    height: 35px;
                    width: 60%;
                    margin-right: 7px;
                    padding: 0 5px;
                }

                .btn-sub {
                    height: 35px;
                    background-color: $powder-blue;
                    border-color: $powder-blue;
                    font-weight: 600;
                    color: white;
                    font-size: 0.7rem;

                    &:hover {
                        background-color: #bad4d0;
                    }
                }
            }

            .copyright {
                display: flex;
                align-content: center;
                padding-top: 5%;

                .copyright-content {
                    padding-right: 5px;
                    margin-bottom: 0;

                    .linkedin-link {
                        color: $powder-blue;

                        &:hover {
                            color: #9bbdb7;
                        }
                    }
                }
            }
        }

        .footer-info-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .small-links {
                color: white;
                font-size: 0.9rem;

                &:hover {
                    color: $bone;
                }
            }
        }
    }
}

.landing {
    position: absolute;

    .landing-sect {
        height: 95vh;
        display: flex;
        justify-content: center;

        &:not(.landing-back) {
            padding: 3% 10%;
            margin: 5% 0;
        }

        .sub-heading {
            font-size: 1.1rem;
        }

        .moving-bike {
            max-height: 50px;
            position: absolute;
            z-index: 20;
        }
    }

    .landing-1 {
        .landing-background {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
        }

        .landing-info {
            margin-top: 3%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo-animation {
                width: 800px;
                filter: invert(1);
            }
        }

        .btns {
            display: flex;

            .btn-filled {
                margin-right: 8px;
                background-color: $deep-space;
                border-color: #355554;
                color: white;

                &:hover {
                    background-color: #355554;
                }
            }

            .btn-outline {
                margin-left: 8px;
                border-color: $powder-blue;
                color: $powder-blue;

                &:hover {
                    background-color: $powder-blue;
                    color: white;
                }
            }
        }
    }

    .landing-2, .landing-4 {
        .content {
            align-items: center;
            justify-content: center;

            .gallery-container {
                .gallery-imgs {
                    max-width: 77%;
                }
            }

            .text-container {
                display: flex;
                justify-content: center;

                .circle-img {
                    max-width: 85%;
                    position: absolute;
                    top: -25px;
                }

                .info {
                    position: relative;
                    z-index: 10;

                    @media (max-width: 1080px) {
                        font-size: 0.8rem;
                    }

                    .btn-filled {
                        margin-right: 8px;
                        background-color: $deep-space;
                        border-color: #355554;
                        color: white;

                        &:hover {
                            background-color: #355554;
                        }
                    }
                }
            }
        }
    }

    .landing-3, .landing-5 {
        .forwards {
            left: 17%;
            margin-top: -49px;
        }

        .landing-background {
            width: 100%;
            position: absolute;
            padding-top: 30px;
        }

        .landing3-background {
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }

        .info {
            position: absolute;
            z-index: 10;
            text-align: center;
            padding-top: 45px;
            color: white;

            .underlined {
                padding: 10px 0;
                margin: 5px 300px;
                border-bottom: thin solid white;
            }

            .sections-container {
                padding: 4% 13%;
                margin: 0;
                color: $black-choco;

                .info-sect-cont {
                    padding: 0 5px;
                    display: flex;
                    justify-content: center;

                    .top-div {
                        width: 22%;
                        position: absolute;
                        z-index: 10;
                        top: -30px;
                    }

                    .info-sect {
                        background-color: #F0EEE5;
                        padding: 45px 35px 20px 35px;

                        .btn {
                            font-weight: bold;
                            color: white;
                        }
                    }

                    .donations-sect {
                        border: 4px solid $powder-blue;
                        border-radius: 10px 0 0 10px;

                        .btn {
                            background-color: #B3D4CF;
                            border-color: #B3D4CF;

                            &:hover {
                                background-color: #a5c7c2;
                            }
                        }
                    }

                    .repairs-sect {
                        border: 4px solid #355554;

                        .btn {
                            background-color: #355554;
                            border-color: #355554;

                            &:hover {
                                background-color: #2b4747;
                            }
                        }
                    }

                    .deliver-sect {
                        border: 4px solid $beaver;
                        border-radius: 0 10px 10px 0;

                        .btn {
                            background-color: $beaver;
                            border-color: $beaver;

                            &:hover {
                                background-color: #9c7c64;
                            }
                        }
                    }
                }
            }
        }
    }

    .landing-4 {
        padding-top: 0 !important;
        margin-top: 0 !important;

        .quotes {
            position: relative;

            .quotes-img-container {
                position: absolute;

                .quotes-img {
                    padding-left: 40px;
                    width: 100%;
                    margin-top: 55px;
                }
            }

            #acknowledgementsCarousel {
                z-index: 10;

                .carousel-indicators {
                    bottom: -35px;

                    li {
                        width: 8px;
                        height: 8px;
                        border: 2px solid $deep-space;
                        border-radius: 100%;
                    }

                    .active {
                        background-color: $deep-space;
                    }
                }

                .carousel-btn {
                    font-size: 1.2rem;
                    color: $deep-space;
                }

                .carousel-item {
                    text-align: center;

                    .quote-avatar {
                        width: 20%;
                        padding-bottom: 10px;
                    }

                    .quote-name {
                        font-size: 1.1rem;
                        font-weight: 600;
                    }

                    .quote-action {
                        font-style: italic;
                    }

                    .quote-content {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    .landing-5 {
        height: 65vh;

        .flipped {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            right: 17%;
            margin-top: -19px;
        }
    }

    .landing-6 {
        margin: 20px 0;

        .content {
            align-items: center;

            .img-container {
                position: relative;
                display: flex;
                justify-content: center;

                .kid-bike-img {
                    max-width: 75%;
                }
            }

            .btns {
                display: flex;

                .btn-filled {
                    margin-right: 8px;
                    background-color: $deep-space;
                    border-color: #355554;
                    color: white;

                    &:hover {
                        background-color: #355554;
                    }
                }

                .btn-outline {
                    margin-left: 8px;
                    border-color: $deep-space;
                    color: e$deep-space;

                    &:hover {
                        background-color: $deep-space;
                        color: white;
                    }
                }
            }
        }
    }
}

.bike-form-container {
    .nav-bar {
        position: relative;
    }

    .submit-btn {
        margin-top: 10px;
        width: 100%;
        color: white;
        font-weight: 400;
        background-color: #abc9c6;

        &:hover {
            background-color: #a1bfbc;
        }
    }

    .add-bike-btn {
        background-color: transparent;
        padding-left: 0;
        font-size: 1rem;

        i {
            color: $deep-space;
        }
    }

    .bike-form {
        padding: 4% 15%;
        text-align: center;
        position: absolute;
        z-index: 100;

        .form-title {
            font-size: 1.4rem;
            margin-bottom: 0.3rem;
        }

        .form-content {
            font-size: 0.9rem;
        }

        .form-card {
            border-color: transparent;
            border-radius: 15px;
            box-shadow: rgba(86,86,86,0.14) -4px 5px 18px 1px;

            &:not(.confirmation-card) {
                padding: 3%;
                align-items: center;
                max-height: 70vh;
                overflow-y: scroll !important;
            }
        }

        .donate-card {
            transition: background-color 0.5s ease;

            &:hover {
                cursor: pointer;
                background-color: #f7f7f7;
            }

            .donate-img {
                width: 45%;
            }

            .card-text {
                font-size: 0.75rem;
            }
        }

        .donate-form {
            text-align: left;

            .text-input {
                width: 100%;
                margin-bottom: 20px;
                border: none;
                border-bottom: thin solid #d9d9d9;
            }

            .bike-input {
                padding-bottom: 15px;

                &:not(#first) {
                    padding-top: 15px;
                    border-top: thin dashed $deep-space;
                }
            }
        }

        .donate-form-container {
            width: 100%;

            .radio-input {
                margin-left: 5px;
            }

            .radio-label {
                margin-left: 10px;
                margin-right: 10px;
            }

            input[type='radio']:after {
                width: 20px;
                height: 20px;
                border-radius: 15px;
                top: -3px;
                left: -1px;
                position: relative;
                background-color: #d1d3d1;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }

            input[type='radio']:checked:after {
                width: 20px;
                height: 20px;
                border-radius: 15px;
                top: -3px;
                left: -1px;
                position: relative;
                background-color: #abc9c6;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }
        }
    }

    .request-info {
        padding-top: 2%;
    }

    .confirmation-card {
        text-align: left;

        .confirmation-img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .confirmation-text-cont {
            padding: 3%;
            line-height: 1.65rem;
        }
    }

    .background-rect {
        position: fixed;
        height: 95%;
        width: 100%;
        background: linear-gradient(180deg, white 50%, #D5EBED 50%);
    }
}